body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width:100%
}

/* Global */

#App {
  background-color: white;
  min-width: 100vw;
  min-height: 100vh;
}

.btn {
  padding: 6px 12px;
  border-radius: 8px 8px;
  border: none;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: 700;
  color: black;
}

.btn:hover {
  box-shadow: 0px 0px 2px lightskyblue;
  transform: scale(1.01);
}

.btn-success {
  background-color: greenyellow;
}

.btn-primary {
  background-color: lightskyblue;
}

.btn-danger {
  background-color: pink;
}

.added-to-cart-btn {
  color: lightskyblue;
  background-color: white;
}

.fa-check {
  margin-right: 3px;
}

/* Header */
header {
  height: 60px;
  padding: 10px 18px;
  
  font-size: 1.3rem;
  background-color: greenyellow;
  box-shadow: 1px 0px 1px gray;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Pacifico', 'Trebuchet MS', sans-serif;
}

.right-header {
  color: #666;
  text-decoration: none;
}

.fa-shopping-cart {
  margin-right: 5px;
}

/* Footer */
footer {
  margin-top: 30px;
  padding: 10px;
  height: 50px;
  
  font-size: 0.8rem;
  color: #666;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Product Catalog Page */
.product-list {
  display: flex;
  flex-direction: column;
}

.product-card {
  background-color: white;
  width: 90vw;
  max-width: 500px;
  margin: 10px auto;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #999
}

.product-card img,
.product-page img {
  display: block;
  width: 60vw;
  max-width: 300px;
  margin: 5px auto;
}

.product-card h4 {
  font-size: 1rem;
  text-align: center;
}

.product-card .product-footer,
.product-page .product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}

.product-card .product-price {
  color: #222;
  font-size: 0.9rem;
}

/* Product Detail Page */
.product-page {
  padding: 25px 30px;
}

.product-page h2 {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.product-page .product-description {
  color: #444;
  font-size: 0.8rem;
  margin-top: 40px;
  padding-bottom: 10px;
}

.product-page .product-footer .product-price {
  font-size: 1.2rem;
}

.product-page .product-footer .btn {
  padding: 10px 20px;
  font-size: 1.2rem;
}

.go-back-link {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color:lightskyblue;
}

/* Cart Page */
.cart-page h2 {
  text-align: center;
  margin: 15px 0;
}

.cart-item {
  width: 90vw;
  margin: 10px auto;
  padding: 10px 10px;
  border-bottom: solid 1px gray;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1.5rem 2rem;
  grid-row-gap: 20px;
  align-items: center;
}

.cart-item .product-title {
  grid-row: 1 / 2;
  grid-column: 5 / 13;
  
  margin-left: 10px;
  color: #444;
}

.cart-item img {
  grid-row: 1 / 3;
  grid-column: 1 / 5;
  
  max-width: 100px;
  max-height: 100px;
}

.cart-item .product-price {
  grid-row: 2 / 3;
  grid-column: 5 / 11;
  color: #222;
  
  margin-left: 10px;
}

.cart-item .fa-trash {
  grid-row: 2 / 3;
  grid-column: 11 / 13;
  
  color: pink;
  cursor: pointer;
}

.cart-item .item-qnt-manager {
  grid-row: 3 / 4;
  grid-column: 1 / 7;
  
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  
  text-align: center;
}

.cart-item .item-qnt-manager .item-qnt {
  grid-column: 2 / 3;
}

.cart-item .item-qnt-manager .fa-arrow-left {
  grid-column: 1 / 2;
  color: #666;
  cursor: pointer;
}

.cart-item .item-qnt-manager .fa-arrow-right {
  grid-column: 3 / 4;
  color: #666;
  cursor: pointer;
}

.cart-item .total-item-price {
  grid-row: 3 / 4;
  grid-column: 7 / 13;
  
  text-align: right;
  font-size: 1.2rem;
}

.cart-total {
  text-align: right;
  font-size: 1.5rem;
  padding: 40px;
  color: #666;
}

.cart-total .total-price {
  color: black;
}

.cart-page .finish-btn {
  max-width: 140px;
  max-height: 50px;
  padding: 20px;
  margin: 10px auto;
  
  font-size: 1.1rem;
  color: #222;
  text-decoration: none;
}

.popup-content {
  width: 80vw;
  padding: 10px 15px;
}

.confirm-modal{
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  
  display: flex;
  flex-direction: column;
  
  text-align: center;
}

.confirm-modal h3 {
  margin-top: 15px;
  margin-bottom: auto;
}

.confirm-modal .btn {
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Thank You Page */
.thank-you-page {
  padding: 10px;
  text-align: center;
}

.thank-you-page h2 {
  color: greenyellow;
  margin: 30px 0px;
}

.thank-you-page .go-back-link {
  margin-top: 50px;
}